#kanban {
    width: 100%;
    height: 100vh;

    padding: 0rem 0rem;
    display: flex;
    align-items: center;

    .columns-wrapper {
        height: calc(100vh - 4rem);
        padding-left: 0rem;
        gap: 0.5rem;

        overflow-x: scroll;
        overflow-y: hidden;

        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;

        position: relative;

        width: 100%;

        .column {
            display: inline-block;
            width: 25rem;
            height: calc(100vh - 5rem);
            background-color: #111;
            margin-right: 0.5rem;
            border: 1px solid var(--background);

            &.dragging {
                border: 1px solid var(--green);
                opacity: 0.5;
            }

            .heading-box {
                display: flex;
                align-items: center;
                margin: 0.5rem;
                border-radius: 0.3rem;
                background-color: var(--background);
                cursor: grab;
                padding: 0.3rem;

                &:focus {
                    cursor: grabbing;
                }

                p, input {
                    font-size: 1.4rem;
                    font-style: italic;
                    color: white;
                    border: 1px solid transparent;
                    font-family: var(--font-geist-mono);
                    padding: 1rem;
                }

                input {
                    background-color: #111;
                    border-color: var(--green);
                    width: min-content;
                }
            }
        }

        #add-button {            
            display: inline-block;
            line-height: 3rem;
            text-align: left;
            margin: 0.5rem;

            background-color: var(--background);
            width: 100%;
            padding: 1rem;
            border-radius: 0.3rem;
            font-size: 1.4rem;
            color: white;
        }
    }
}