.workspace-navigator {
    width: 100%;

    #add-workspace {
        width: calc(100% - 2rem);
        background-color: var(--green);

        font-size: 1.4rem;
        color: white;
        
        margin: 1rem 1rem;
        padding: 1rem 1rem;
    }

    .workspace-row {
        width: 100%;
        background-color: var(--black);

        &:nth-of-type(even) {
            background-color: var(--background);
        }

        .row {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding-top: 0.1rem;

            svg {
                stroke-width: 1;
                width: 1.5rem;
                height: 1.5rem;
            }

            aside {
                display: flex;
                justify-content: space-between;
                align-items: center;
                opacity: 0;
                transition: 0.5s;
    
                button {
                    padding: 0 0.5rem !important;
    
                    &:hover {
                        svg {
                            transform: scale(1.1);
                        }
                    }
                }
    
                p {
                    color: white;
                    font-size: 1.6rem;
                    font-weight: 100;
                    cursor: pointer;
                    padding-bottom: 0.5rem;
                }
            }

            &:hover {
                background-color: #ffffff20;
                aside {
                    opacity: 1;
                }
            }
        }

        .subfolders {
                padding-left: 2rem;
            }

        button {
            width: 100%;
            color: white;
            background-color: transparent;
            font-family: var(--font-geist-mono);
            font-size: 1.2rem;
            text-align: left;

            &.main {
                padding: 1rem;
            }

            &.sub {
                padding: 0.5rem 1rem 0.5rem 2rem;
                display: flex;
                align-items: center;
                gap: 1rem;
            }
        }
    }
}

#workspace {
    .workspace-container {
        display: flex;

        flex-direction: column;

        margin-top: 7.5rem;

        .habit-container {
            width: 100%;

            
        }

        .folder-container {
            width: 40%;

            padding: 0 1.5rem;

            display: flex;
            flex-direction: column;
            gap: 1rem;

            h2 {
                font-size: 2rem;
                text-transform: uppercase;
                color: white;
                margin-bottom: 2.2rem;
            }

            .folder {
                width: 100%;
                padding: 2rem 1.5rem;
                border: 1px solid #ffffff50;

                cursor: pointer;

                .title-wrapper {
                    display: flex;
                    gap: 0.5rem;
                    align-items: center;

                    svg {
                        width: 1.8rem;
                    }

                    h3 {
                        font-size: 1.5rem;
                        color: white;
                        padding: 0.6rem 0.6rem;
                    }

                    input {
                        font-size: 1.5rem;
                        color: white;
                        background-color: var(--black);
                        padding: 0.5rem 0.5rem;
                        border: 1px solid var(--green);
                    }
                }
            }
        }
    }
}