:root {
  --black: #0a0a0a;
  --background: #111111;
  --foreground: #ededed;
  --green: #2b854f;
}

html,
body {
  width: 100vw;
  overflow-x: hidden;
}

body {
  background: var(--background);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

::-webkit-scrollbar {
  width: 0px;
}

::-webkit-scrollbar-track {
  -webkit-box-shadow: none;
          box-shadow: none;
  border-radius: 0px;
}

::-webkit-scrollbar-thumb {
  background: transparent;
}

::-webkit-scrollbar-thumb:hover {
  background: transparent;
}

h1, h2, h3, input {
  font-family: var(--font-geist-mono);
}

p, a, label, textarea {
  font-family: var(--font-geist-sans);
  font-size: 1.6rem;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-size: 62.5%;
  border: 0;
  outline: none;
  margin: 0;
  padding: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

a, button, label, input, textarea {
  cursor: pointer;
}

svg {
  stroke: white;
}

#dashboard {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100vh;
  overflow: hidden;
}

#dashboard aside.side-box {
  width: 32rem;
  background-color: var(--black);
  border-right: 2px solid var(--black);
}

#dashboard main {
  width: calc(100% - 32rem);
  height: 100vh;
  overflow: hidden;
  position: relative;
}

#dashboard main form {
  width: auto;
  color: white;
}

#dashboard main form h2 {
  font-size: 2rem;
  font-style: italic;
  text-transform: uppercase;
  margin-bottom: 3.5rem;
  margin-top: 2.5rem;
}

#dashboard main form div.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  gap: 2rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#dashboard .input-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 0.5rem;
  width: 100%;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

#dashboard .input-box label {
  font-size: 1.2rem;
  font-style: italic;
  text-transform: uppercase;
  margin-left: 0.2rem;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

#dashboard .input-box input {
  -webkit-transition: 0.3s;
  transition: 0.3s;
  padding: 1rem;
  background-color: transparent;
  margin: 0.3rem 0;
  font-size: 1.4rem;
  color: white;
  border-radius: 0.5rem;
  border: 2px solid #1c1b1b;
}

#dashboard .input-box input:focus {
  border-color: var(--green);
}

#dashboard .input-box .error {
  color: #ff2424;
  font-size: 1.2rem;
  margin-left: 0.5rem;
  height: 1.55rem;
}

#dashboard .input-box.disabled {
  opacity: 0.3;
}

#dashboard .input-box.disabled input {
  cursor: not-allowed;
}

#dashboard .jsonarea {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 1rem;
  margin-block: 4rem;
}

#dashboard .jsonarea textarea {
  width: 100%;
  resize: vertical;
  padding: 1rem;
  background-color: transparent;
  margin: 0.3rem 0;
  font-size: 1.4rem;
  color: white;
  border-radius: 0.5rem;
  border: 2px solid #1c1b1b;
}

#dashboard .jsonarea textarea:focus {
  border-color: var(--green);
}

#dashboard .jsonarea button {
  width: 20rem;
  padding: 0.7rem 2rem;
  font-size: 1.4rem;
  color: white;
  font-style: italic;
  font-weight: bold;
  background-color: var(--green);
  margin-left: auto;
  border-radius: 0.5rem;
}

nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 1.5rem 3rem 0 1.5rem;
  margin-bottom: 1.4rem;
  width: 100%;
}

nav aside {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1rem;
}

nav aside a {
  color: white;
  font-size: 2.5rem;
  text-transform: uppercase;
  font-weight: bold;
  font-style: italic;
  font-family: var(--font-geist-mono);
}

nav .action {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1rem;
}

nav .action button {
  background-color: var(--green);
  padding: 0.3rem 1rem;
  color: white;
  font-size: 1.2rem;
  font-family: var(--font-geist-mono);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1rem;
}

nav .action button span {
  height: 1.5rem;
  width: 0.1rem;
  background-color: white;
}

nav .action button svg {
  stroke-width: 2;
  width: 1.5rem;
}

#calendar-navigation {
  background-color: #111111;
  width: 31.8rem;
  margin: 0rem;
  padding-bottom: 1rem;
}

#calendar-navigation .week-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 2.2rem 2rem 1.5rem 1rem;
}

#calendar-navigation .week-box aside {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#calendar-navigation .week-box aside p {
  width: 10rem;
  text-align: center;
}

#calendar-navigation .week-box p {
  color: white;
  font-size: 1.2rem;
}

#calendar-navigation .week-box #prev svg {
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}

#calendar-navigation .week-box #next svg {
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
}

#calendar-navigation .week-box button {
  background-color: transparent;
  width: 3rem;
}

#calendar-navigation .week-box button svg {
  stroke: white;
}

#calendar-navigation .day-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0.5rem 2rem 1rem;
}

#calendar-navigation .day-box .day {
  border-radius: 50%;
  width: 3.5rem;
  aspect-ratio: 1 / 1;
  background-color: #111111;
  border: 2px solid #0a0a0a;
  font-size: 1.2rem;
  color: white;
}

#calendar-navigation .day-box .day.active {
  border-color: var(--green);
}

.table-inputs {
  width: 100%;
  border-radius: 0.3rem;
}

.table-inputs div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  gap: 2rem;
  border-radius: 0.3rem;
}

.table-inputs div label {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.table-inputs div label p {
  width: 70%;
  padding: 0 1rem;
  font-size: 1.2rem;
  opacity: 0.8;
}

.table-inputs div label input {
  width: 30%;
  height: 3rem;
  font-size: 1.2rem;
  padding: 0 1rem;
  border-radius: 0.3rem;
  color: white;
  border: 1px solid #1c1b1b;
  background-color: #0a0a0a;
  margin: 0.7rem;
  text-align: right;
}

.table-inputs div label input:focus {
  border-color: var(--green);
}

.table-inputs div:nth-of-type(odd) {
  background-color: #111111;
}

.table-inputs div:nth-of-type(even) label input {
  background-color: #111111;
}

.food-detail {
  width: 100%;
  background-color: #111111;
  border-radius: 0.3rem;
  padding: 1.5rem 2rem;
}

.food-detail div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.food-detail div:first-of-type p {
  font-size: 1.4rem;
  color: white;
  font-weight: bold;
}

.food-detail div:first-of-type svg {
  width: 2rem;
}

.food-detail div.macros {
  margin-top: 2rem;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
}

.food-detail div.macros div {
  width: 100%;
}

.food-detail div.macros div:last-of-type {
  background-color: var(--background);
  border-radius: 0.3rem;
}

.food-detail div.macros div p {
  width: calc(25%);
  font-size: 1.2rem;
  color: #dddddd;
  padding: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: transparent;
}

.food-detail div.macros div p span {
  color: white;
  font-size: 1.2rem;
  font-weight: bold;
}

.search-box {
  margin-bottom: 3rem;
}

.search-box .search-input-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-size: 1.2rem;
  font-style: italic;
  text-transform: uppercase;
  border-top-right-radius: 0.5rem;
  border-top-left-radius: 0.5rem;
  border: 2px solid #111;
  border-bottom: #111;
}

.search-box .search-input-box input {
  padding: 0.5rem 1rem;
  background-color: transparent;
  margin: 0.3rem 0;
  font-size: 1.4rem;
  color: white;
  width: 100%;
}

.search-box .search-input-box button {
  background-color: var(--green);
  width: 10rem;
  border-top-right-radius: 0.5rem;
  margin: -2px -2px 0px 0px;
}

.search-box .filter-box {
  padding: 3rem;
  background-color: #111;
  border-bottom-right-radius: 0.5rem;
  border-bottom-left-radius: 0.5rem;
}

.switch-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

.switch-box span {
  width: 100%;
  display: block;
  font-size: 1.4rem;
  text-transform: uppercase;
  padding: 0.8rem;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  text-align: center;
  border-radius: 0rem;
  background-color: #111;
  cursor: pointer;
}

.switch-box span.active {
  background-color: var(--green);
  border-radius: 0.3rem;
  font-weight: bold;
}

.switch-box input {
  opacity: 0;
  width: 0px;
  height: 0px;
}

.task {
  background-color: var(--background);
  padding: 1.5rem;
}

.task p {
  color: white;
  font-size: 1.4rem;
}

.task.dragging {
  border: 1px solid var(--green);
}

.task.dragging p {
  color: transparent;
}

#kanban {
  width: 100%;
  height: calc(100vh - 6rem);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 1rem;
}

#kanban .controls-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 2rem 3rem 0 1.5rem;
  gap: 2rem;
}

#kanban .controls-wrapper h2 {
  color: white;
  font-size: 2rem;
}

#kanban .controls-wrapper #add-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0.5rem;
  background-color: var(--green);
  padding: 0.5rem 1rem;
  border-radius: 0.3rem;
  font-size: 1.2rem;
  font-weight: 100;
  text-transform: uppercase;
  color: white;
}

#kanban .controls-wrapper #add-button svg {
  width: 2rem;
}

#kanban .columns-wrapper {
  height: 100%;
  width: 100%;
  gap: 1rem;
  overflow-x: scroll;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  padding: 0.4rem 3rem 0 0.7rem;
  margin-left: 0.5rem;
}

#kanban .columns-wrapper .column {
  -ms-flex-negative: 0;
      flex-shrink: 0;
  display: inline-block;
  width: 25rem;
  height: 100%;
  background-color: var(--black);
  padding-bottom: 1rem;
}

#kanban .columns-wrapper .column.dragging {
  border: 1px solid var(--green);
  opacity: 0.5;
}

#kanban .columns-wrapper .column .heading-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: -webkit-grab;
  cursor: grab;
  padding: 0.3rem;
  border-bottom: 8px solid var(--background);
}

#kanban .columns-wrapper .column .heading-box p, #kanban .columns-wrapper .column .heading-box input {
  font-size: 1.4rem;
  font-style: italic;
  color: white;
  border: 1px solid transparent;
  font-family: var(--font-geist-mono);
  padding: 1rem;
  cursor: pointer;
}

#kanban .columns-wrapper .column .heading-box p:active, #kanban .columns-wrapper .column .heading-box p:focus, #kanban .columns-wrapper .column .heading-box input:active, #kanban .columns-wrapper .column .heading-box input:focus {
  cursor: -webkit-grabbing !important;
  cursor: grabbing !important;
}

#kanban .columns-wrapper .column .heading-box:active {
  cursor: -webkit-grabbing !important;
  cursor: grabbing !important;
}

#kanban .columns-wrapper .column .heading-box input {
  background-color: var(--background);
  border-color: var(--green);
}

#kanban .columns-wrapper .column .content-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 0.7rem;
  padding: 0rem 1rem 0rem;
  background-color: var(--black);
  margin-top: 1.2rem;
  max-height: calc(100% - 11rem);
  overflow-y: scroll;
}

#kanban .columns-wrapper .column .add-task {
  background-color: var(--green);
  width: calc(100% - 2rem);
  padding: 1rem;
  margin: 1rem 1rem;
  color: white;
  font-size: 1.2rem;
  text-transform: uppercase;
  opacity: 0;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

#kanban .columns-wrapper .column .placeholder {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 1px dashed gray;
  padding: 1rem;
  opacity: 0.5;
  height: 10.4rem;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

#kanban .columns-wrapper .column .placeholder p {
  color: gray;
  font-size: 1.4rem;
  text-align: center;
  text-transform: lowercase;
}

#kanban .columns-wrapper .column:hover .add-task {
  opacity: 1;
}

.workspace-navigator {
  width: 100%;
}

.workspace-navigator #add-workspace {
  width: calc(100% - 2rem);
  background-color: var(--green);
  font-size: 1.4rem;
  color: white;
  margin: 1rem 1rem;
  padding: 1rem 1rem;
}

.workspace-navigator .workspace-row {
  width: 100%;
  background-color: var(--black);
  padding-bottom: 0.5rem;
}

.workspace-navigator .workspace-row:nth-of-type(even) {
  background-color: var(--background);
}

.workspace-navigator .workspace-row .row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.workspace-navigator .workspace-row .row aside {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  opacity: 0;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.workspace-navigator .workspace-row .row aside button {
  padding: 0 0.5rem !important;
}

.workspace-navigator .workspace-row .row aside button:hover svg {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.workspace-navigator .workspace-row .row aside p {
  color: white;
  font-size: 1.6rem;
  font-weight: 100;
  cursor: pointer;
  padding-bottom: 0.5rem;
}

.workspace-navigator .workspace-row .row aside svg {
  stroke-width: 1;
  width: 1.5rem;
  height: 1.5rem;
}

.workspace-navigator .workspace-row .row:hover aside {
  opacity: 1;
}

.workspace-navigator .workspace-row button {
  width: 100%;
  color: white;
  background-color: transparent;
  font-family: var(--font-geist-mono);
  font-size: 1.2rem;
  text-align: left;
}

.workspace-navigator .workspace-row button.main {
  padding: 1rem;
}

.workspace-navigator .workspace-row button.sub {
  padding: 0.5rem 1rem 0.5rem 2rem;
}

#workspace .workspace-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 7.5rem;
}

#workspace .workspace-container .folder-container {
  width: 40%;
  padding: 0 1.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 1rem;
}

#workspace .workspace-container .folder-container h2 {
  font-size: 2rem;
  text-transform: uppercase;
  color: white;
  margin-bottom: 2.2rem;
}

#workspace .workspace-container .folder-container .folder {
  width: 100%;
  padding: 2rem 1.5rem;
  border: 1px solid #ffffff50;
  cursor: pointer;
}

#workspace .workspace-container .folder-container .folder .title-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 0.5rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#workspace .workspace-container .folder-container .folder .title-wrapper svg {
  width: 1.8rem;
}

#workspace .workspace-container .folder-container .folder .title-wrapper h3 {
  font-size: 1.5rem;
  color: white;
  padding: 0.6rem 0.6rem;
}

#workspace .workspace-container .folder-container .folder .title-wrapper input {
  font-size: 1.5rem;
  color: white;
  background-color: var(--black);
  padding: 0.5rem 0.5rem;
  border: 1px solid var(--green);
}
/*# sourceMappingURL=style.css.map */