:root {
  --background: #0a0a0a;
  --foreground: #ededed;
  --green: #2b854f;
}

html,
body {
  width: 100vw;
  overflow-x: hidden;
}

body {
  background: var(--background);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1, h2, h3, input {
  font-family: var(--font-geist-mono);
}

p, a, label, textarea {
  font-family: var(--font-geist-sans);
  font-size: 1.6rem;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-size: 62.5%;
  border: 0;
  outline: none;
  margin: 0;
  padding: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

a, button, label, input, textarea {
  cursor: pointer;
}

svg {
  stroke: white;
}

#dashboard {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100vh;
  overflow: hidden;
}

#dashboard aside.side-box {
  width: 36rem;
}

#dashboard main {
  width: calc(100% - 36rem);
  padding: 0rem 0rem 0rem;
  margin-top: 0rem;
  height: calc(100vh);
  overflow-y: hidden;
  position: relative;
}

#dashboard main form {
  width: auto;
  color: white;
}

#dashboard main form h2 {
  font-size: 2rem;
  font-style: italic;
  text-transform: uppercase;
  margin-bottom: 3.5rem;
  margin-top: 2.5rem;
}

#dashboard main form div.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  gap: 2rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#dashboard .input-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 0.5rem;
  width: 100%;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

#dashboard .input-box label {
  font-size: 1.2rem;
  font-style: italic;
  text-transform: uppercase;
  margin-left: 0.2rem;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

#dashboard .input-box input {
  -webkit-transition: 0.3s;
  transition: 0.3s;
  padding: 1rem;
  background-color: transparent;
  margin: 0.3rem 0;
  font-size: 1.4rem;
  color: white;
  border-radius: 0.5rem;
  border: 2px solid #1c1b1b;
}

#dashboard .input-box input:focus {
  border-color: var(--green);
}

#dashboard .input-box .error {
  color: #ff2424;
  font-size: 1.2rem;
  margin-left: 0.5rem;
  height: 1.55rem;
}

#dashboard .input-box.disabled {
  opacity: 0.3;
}

#dashboard .input-box.disabled input {
  cursor: not-allowed;
}

#dashboard .jsonarea {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 1rem;
  margin-block: 4rem;
}

#dashboard .jsonarea textarea {
  width: 100%;
  resize: vertical;
  padding: 1rem;
  background-color: transparent;
  margin: 0.3rem 0;
  font-size: 1.4rem;
  color: white;
  border-radius: 0.5rem;
  border: 2px solid #1c1b1b;
}

#dashboard .jsonarea textarea:focus {
  border-color: var(--green);
}

#dashboard .jsonarea button {
  width: 20rem;
  padding: 0.7rem 2rem;
  font-size: 1.4rem;
  color: white;
  font-style: italic;
  font-weight: bold;
  background-color: var(--green);
  margin-left: auto;
  border-radius: 0.5rem;
}

nav {
  height: 9.75rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: fixed;
  background-color: var(--background);
  top: 2rem;
  left: 36rem;
  right: 36rem;
  z-index: 10;
}

nav aside {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0.5rem;
}

nav aside a {
  color: white;
  font-size: 2rem;
  text-transform: uppercase;
  font-weight: bold;
  font-style: italic;
}

nav .action button {
  background-color: var(--green);
  font-size: 1.4rem;
  color: white;
  padding: 0.7rem 2rem;
  border-radius: 0.3rem;
  font-weight: bold;
  font-style: italic;
}

#calendar-navigation {
  background-color: #111111;
  width: 32rem;
  margin: 2rem;
  border-radius: 0.3rem;
}

#calendar-navigation .week-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 1.2rem 2rem 1rem 1rem;
}

#calendar-navigation .week-box aside {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#calendar-navigation .week-box aside p {
  width: 10rem;
  text-align: center;
}

#calendar-navigation .week-box p {
  color: white;
  font-size: 1.2rem;
}

#calendar-navigation .week-box #prev svg {
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}

#calendar-navigation .week-box #next svg {
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
}

#calendar-navigation .week-box button {
  background-color: transparent;
  width: 3rem;
}

#calendar-navigation .week-box button svg {
  stroke: white;
}

#calendar-navigation .day-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0.5rem 2rem 1rem;
}

#calendar-navigation .day-box .day {
  border-radius: 50%;
  width: 3.5rem;
  aspect-ratio: 1 / 1;
  background-color: #111111;
  border: 2px solid #0a0a0a;
  font-size: 1.2rem;
  color: white;
}

#calendar-navigation .day-box .day.active {
  border-color: var(--green);
}

.table-inputs {
  width: 100%;
  border-radius: 0.3rem;
}

.table-inputs div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  gap: 2rem;
  border-radius: 0.3rem;
}

.table-inputs div label {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.table-inputs div label p {
  width: 70%;
  padding: 0 1rem;
  font-size: 1.2rem;
  opacity: 0.8;
}

.table-inputs div label input {
  width: 30%;
  height: 3rem;
  font-size: 1.2rem;
  padding: 0 1rem;
  border-radius: 0.3rem;
  color: white;
  border: 1px solid #1c1b1b;
  background-color: #0a0a0a;
  margin: 0.7rem;
  text-align: right;
}

.table-inputs div label input:focus {
  border-color: var(--green);
}

.table-inputs div:nth-of-type(odd) {
  background-color: #111111;
}

.table-inputs div:nth-of-type(even) label input {
  background-color: #111111;
}

.food-detail {
  width: 100%;
  background-color: #111111;
  border-radius: 0.3rem;
  padding: 1.5rem 2rem;
}

.food-detail div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.food-detail div:first-of-type p {
  font-size: 1.4rem;
  color: white;
  font-weight: bold;
}

.food-detail div:first-of-type svg {
  width: 2rem;
}

.food-detail div.macros {
  margin-top: 2rem;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
}

.food-detail div.macros div {
  width: 100%;
}

.food-detail div.macros div:last-of-type {
  background-color: var(--background);
  border-radius: 0.3rem;
}

.food-detail div.macros div p {
  width: calc(25%);
  font-size: 1.2rem;
  color: #dddddd;
  padding: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: transparent;
}

.food-detail div.macros div p span {
  color: white;
  font-size: 1.2rem;
  font-weight: bold;
}

.search-box {
  margin-bottom: 3rem;
}

.search-box .search-input-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-size: 1.2rem;
  font-style: italic;
  text-transform: uppercase;
  border-top-right-radius: 0.5rem;
  border-top-left-radius: 0.5rem;
  border: 2px solid #111;
  border-bottom: #111;
}

.search-box .search-input-box input {
  padding: 0.5rem 1rem;
  background-color: transparent;
  margin: 0.3rem 0;
  font-size: 1.4rem;
  color: white;
  width: 100%;
}

.search-box .search-input-box button {
  background-color: var(--green);
  width: 10rem;
  border-top-right-radius: 0.5rem;
  margin: -2px -2px 0px 0px;
}

.search-box .filter-box {
  padding: 3rem;
  background-color: #111;
  border-bottom-right-radius: 0.5rem;
  border-bottom-left-radius: 0.5rem;
}

.switch-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

.switch-box span {
  width: 100%;
  display: block;
  font-size: 1.4rem;
  text-transform: uppercase;
  padding: 0.8rem;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  text-align: center;
  border-radius: 0rem;
  background-color: #111;
  cursor: pointer;
}

.switch-box span.active {
  background-color: var(--green);
  border-radius: 0.3rem;
  font-weight: bold;
}

.switch-box input {
  opacity: 0;
  width: 0px;
  height: 0px;
}

#kanban {
  width: 100%;
  height: 100vh;
  padding: 0rem 0rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#kanban .columns-wrapper {
  height: calc(100vh - 4rem);
  padding-left: 0rem;
  gap: 0.5rem;
  overflow-x: scroll;
  overflow-y: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  position: relative;
  width: 100%;
}

#kanban .columns-wrapper .column {
  display: inline-block;
  width: 25rem;
  height: calc(100vh - 5rem);
  background-color: #111;
  margin-right: 0.5rem;
  border: 1px solid var(--background);
}

#kanban .columns-wrapper .column.dragging {
  border: 1px solid var(--green);
  opacity: 0.5;
}

#kanban .columns-wrapper .column .heading-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0.5rem;
  border-radius: 0.3rem;
  background-color: var(--background);
  cursor: -webkit-grab;
  cursor: grab;
  padding: 0.3rem;
}

#kanban .columns-wrapper .column .heading-box:focus {
  cursor: -webkit-grabbing;
  cursor: grabbing;
}

#kanban .columns-wrapper .column .heading-box p, #kanban .columns-wrapper .column .heading-box input {
  font-size: 1.4rem;
  font-style: italic;
  color: white;
  border: 1px solid transparent;
  font-family: var(--font-geist-mono);
  padding: 1rem;
}

#kanban .columns-wrapper .column .heading-box input {
  background-color: #111;
  border-color: var(--green);
  width: -webkit-min-content;
  width: -moz-min-content;
  width: min-content;
}

#kanban .columns-wrapper #add-button {
  display: inline-block;
  line-height: 3rem;
  text-align: left;
  margin: 0.5rem;
  background-color: var(--background);
  width: 100%;
  padding: 1rem;
  border-radius: 0.3rem;
  font-size: 1.4rem;
  color: white;
}
/*# sourceMappingURL=style.css.map */