:root {
  --background: #0a0a0a;
  --foreground: #ededed;

  --green: #2b854f;
}

html,
body {
  width: 100vw;
  overflow-x: hidden;
}

body {
  background: var(--background);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1, h2, h3, input {
  font-family: var(--font-geist-mono);
}

p, a, label, textarea {
  font-family: var(--font-geist-sans);
  font-size: 1.6rem;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-size: 62.5%;
  border: 0;
  outline: none;
  margin: 0;
  padding: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

a, button, label, input, textarea {
  cursor: pointer;
}

@import 'calendarNavigation'