.main {
    display: flex;
    justify-content: space-between;
}

.welcome {
    width: calc(50vw - 2.5vh);
    height: 95vh;
    margin: 2.5vh;
    margin-right: 0;
    border-radius: 1rem;
    background-color: #2b854f;
    padding: 5vh;

    display: flex;
    flex-direction: column;
    justify-content: center;
}

.welcome h1 {
    font-size: 4rem;
    
    color: black;
    margin-bottom: 3rem;
    text-transform: uppercase;
}

.welcome p {
    font-size: 2rem;
    color: var(--background);
    line-height: 3rem;
}

.aside {
    width: 50vw;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    padding: 5vh;
}

.logo {
    width: 30rem
}

.aside article {
    width: 35rem;
}

.aside article h2 {
    color: white;
    font-size: 2rem;
    text-align: center;
    margin-block: 1rem;

}

.form {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.input {
    display: flex;
    flex-direction: column;
    gap: 0.7rem;
}

.input label {
    color: white;
}

.input input {
    width: 100%;
    padding: 1.5rem;
    background-color: transparent;
    font-size: 1.6rem;
    text-align: left;
    border: 1px dashed #2b854f;
    border-radius: 0.5rem;
    color: #ffffff;
}

.forgot {
    font-size: 1.2rem;
    color: #2b854f;
    text-align: right;
    margin-top: 0..5rem;
    font-family: var(--font-geist-mono);
}

.button {
    width: 100%;
    padding: 1.5rem;
    font-size: 1.6rem;
    background-color: #2b854f;
    color: white;
    border-radius: 0.5rem;
}

.switch {
    background: transparent;
    color: white;
    font-size: 1.6rem;
}

.switch span {
    color: #2b854f;
    font-size: 1.6rem;
}